nav {
    background-color: #ffd6e7;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
}

nav a {
    color: rgb(219, 137, 190);
    text-decoration: none;
    font-weight: bold;
    background-color: white;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 10px;
}

nav a:hover {
    background-color: pink;
    color: white;
}

header {
    background-color: pink;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 20px;
}

.airplane {
    position: fixed;
    top: 80px;
    left: -60px;
    font-size: 40px;
    animation: fly 8s linear infinite;
}

@keyframes fly {
    from {
        left: -60px;
    }

    to {
        left: 100%;
    }
}