body {
    background-color: rgb(231, 177, 216);
    background-image: url("../images/flowers.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: #e7e4e4;
    font-family: 'Times New Roman', Times, serif;

    border: 15px solid transparent;
    border-image: repeating-linear-gradient(
        45deg,
        pink,
        white 10px,
        pink 20px
    ) 20;

    padding: 30px;
}

/* Food popup */
#popup {
    display: none;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    color: black;
    margin-top: 20px;
}

/* Flying airplane */
.airplane {
    position: fixed;
    top: 80px;
    left: -60px;
    font-size: 40px;
    animation: fly 12s linear infinite;
    z-index: 1000;
}

@keyframes fly {
    0% {
        left: -60px;
        top: 80px;
        transform: rotate(10deg);
    }

    50% {
        top: 160px;
    }

    100% {
        left: 100%;
        top: 100px;
        transform: rotate(10deg);
    }
}